name: brace
channels:
  - conda-forge
  - pytorch
dependencies:
  - python=3.11
  - pip
  - numpy=1.26.4
  - pandas=2.2.3
  - pyarrow=17.0.0
  - scipy=1.11.4
  - scikit-learn=1.4.2
  - tqdm
  - joblib
  - pytorch
  - torchvision
  - torchaudio
  - pip:
      - transformers==4.43.4
      - datasets==2.21.0
      - evaluate==0.4.2
      - accelerate==0.33.0
      - tokenizers
      - safetensors
      - gymnasium
      - stable-baselines3
